html,body{
    height: 100%;
}
body{
    min-width:320px;
    font: 14px/18px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust:none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
    content:'';
    content:none;
}
p{
    margin: 0 0 30px;
}
p:last-child{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
img{
    vertical-align:top;
    border-style:none;
    max-width: 100%;
    height: auto;
}
a{
    color:#0f67f4;
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover{
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 20px;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.h-slide{
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.h-slide-holder{
    width: 960px;
    height: 100%;
}
.vswiper .swiper-wrapper{
    justify-content: center;
}
.v-slide{
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    height: auto;
    padding: 50px 15px;
}
.swiper-container-vertical>.swiper-scrollbar{
    right: 0;
}
.swiper-button-next,
.swiper-button-prev{
    top: auto;
    bottom: 10px;
    opacity: 0.7;
}
.swiper-button-prev{
    left: auto;
    right: 50px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    opacity: 1;
}
.card-title{
    -ms-flex: 1;
    flex: 1;
    padding: 0 20px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}
.card-title h2{
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
    margin: 0;
}
.card-title p{
    margin: 0;
}
.card-text{
    -ms-flex: 2;
    flex: 2;
    padding: 30px;
    background: rgba(255,255,255,0.5);
    font-size: 24px;
    line-height: 30px;
}
.card-text p{
    margin: 0 0 30px;
}
.card-text p:last-child{
    margin: 0;
}
.top-text{
    text-align: right;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    margin: 0 0 10px;
}

/* media queries */
@media(max-width: 992px){
    .h-slide-holder{
        width: 100%;
    }
}
@media(max-width: 767px){
    .h-slide{
        padding: 0;
    }
    .h-slide-holder{
        font-size: 20px;
        line-height: 30px;
    }
    .vswiper .swiper-wrapper{
        justify-content: flex-start;
    }
    .v-slide{
        -ms-flex-direction: column;
        flex-direction: column;
        display: block;
        padding: 15px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        bottom: 0;
        -webkit-background-size: 20px 30px;
        background-size: 20px 30px;
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled{
        opacity: 0;
    }
    .card-title{
        padding: 0 0 15px;
        text-align: right;
        font-size: 16px;
        line-height: 20px;
    }
    .card-title h2{
        font-size: 30px;
        line-height: 40px;
    }
    .card-text{
        padding: 15px;
        font-size: 18px;
        line-height: 26px;
    }
    .card-text p{
        margin: 0 0 20px;
    }
}