body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.75;
    color: #757575;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.01rem;
}

*, h1, h2, h3, h4, h5, h6, p, ul, a {
    margin: 0;
    padding: 0;
}

a, p a {
    color: #252525;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #252525;
    font-variant-ligatures: common-ligatures;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 1.4;
    letter-spacing: 0;
}

ul, ol {
    line-height: 1.85714286em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

input {
    outline: none;
    border: none;
}

.wrap-login100 {
    /* width: 960px; */
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 65px 30px 85px;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
.validate-input {
    position: relative;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar>div {
    position: relative;
}

.navbar {
    min-height: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7);
}

.navbar .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.navbar-nav>li>a {
    font-weight: 600;
}

.one_colo_stander_blog article {
    margin-bottom: 55px;
}

.blog_posts article {
    margin-bottom: 45px;
}

.one_colo_stander_blog .post_img, .one_colo_stander_blog .post_img {
    margin-bottom: 30px;
}

.post_img {
    margin-bottom: 24px;
}

.post_title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.post_meta_top {
    margin-bottom: 12px;
}

.post_meta_top span:not(:last-child), .post_meta_bottom span:not(:last-child) {
    margin-right: 5px;
}

.post_meta_top, .post_meta_top a {
    color: #666;
    font-size: 14px;
    font-style: italic;
}

.blog_posts .post_content p {
    margin-bottom: 0.85rem;
}

.post_read_more {
    font-weight: 600;
    font-style: italic;
}

.mb-80px, .my-80px {
    margin-bottom: 80px !important;
}

.page-item.active .page-link, .nav-links>.current {
    z-index: 2;
    color: #fff;
    background-color: #3d404f;
}

.page-item:first-child .page-link, .page-item:last-child .page-link, .pagination>li>a, .nav-links>span, .nav-links>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 40px;
    height: 40px;
    margin-right: 11px;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: #f6f6f6;
    color: #1d1d1d;
    border: none;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

.modal {
    top: 20%;
}

.blurred {
    -webkit-filter: blur(4px);
}

@media screen and (max-width: 992px) {
    .wrap-login100 {
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .mega_menu_holder {
        position: static !important;
        z-index: 1;
    }
}