{% extends "/layouts/index.twig" %}

{% block body %}

{% set entries = craft.entries.section('articles').all() %}

<div id="main-content">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <b>
                <a class="navbar-brand" href="/">
                    Vim.Cards
                </a>
            </b>
            <div>
                <a class="nav-link" href="#"></a>
            </div>
        </div>
    </nav>
    <div class="page-container scene-main scene-main--fade_In">
        <!-- Page Title -->

        <!-- Blogs -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_posts stander_blog one_colo_stander_blog">
                            <article>
                                <div class="post_img">
                                    {% if entry.publicExtranet.getOptions()[0].selected %}
                                    <img src="/images/{{ entry.publicImage.one().filename }}" alt="Card image cap">
                                    {% else %}
                                    <img src="/images/{{ entry.extranetImage.one().filename }}" alt="Card image cap">
                                    {% endif %}
                                </div>
                                <h3 class="post_title">
                                    <a href="#">{{ entry.title }}</a>
                                </h3>
                                <div class="post_meta_top">
                                    Crispy Food
                                    <span class="post_meta_date">{{ entry.postDate.format('H:m:s m-d-Y') }}</span>
                                </div>
                                <div class="post_content">
                                    <p>{{ entry.extranetContent }}</p>
                                </div>
                            </article>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer  -->
        <footer class="web-footer footer bg-color-blackflame all-text-content-white">
            <div class="footer-widgets pt-85px pb-55px">

            </div>
        </footer>
    </div>
</div>

{% include 'modals/login.modal.twig' %}

<script id="article-entry" src="/assets/js/entry.js"
        {% if user is defined %}
        data-user="{{ user | json_encode }}"
        {% else %}
        data-user="{{ null }}"
        {% endif %}

        {% if url is defined %}
        data-url="{{ url }}"
        {% else %}
        data-url="{{ null }}"
        {% endif %}
>
</script>

{% endblock %}