{% extends "layouts/index.twig" %}

{% block body %}

{% set entries = craft.entries.section('articles').all() %}

<div id="main-content">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <b>
                <a class="navbar-brand" href="/">
                    Vim.Cards
                </a>
            </b>
            <div>
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"></a>
            </div>
        </div>
    </nav>
    <div class="page-container scene-main scene-main--fade_In">
        <!-- Page Title -->

        <!-- Blogs -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog_posts stander_blog one_colo_stander_blog">
                        {% for entry in entries %}
                            <article>
                                <div class="post_img">
                                    <img src="/images/{{ entry.publicImage.one().filename }}" alt="Card image cap">
                                </div>
                                <h3 class="post_title">
                                    <a href="/articles/{{ entry.slug }}">{{ entry.title }}</a>
                                </h3>
                                <div class="post_meta_top">
                                    Crispy Food
                                    <span class="post_meta_date">{{ entry.postDate.format('H:m:s m-d-Y') }}</span>
                                </div>
                                <div class="post_content">
                                    <p>{{ entry.publicContent }}</p>
                                </div>
                                <div class="post_meta_bottom">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="post_read_more d-block" href="/articles/{{ entry.slug }}">Read More
                                                <i class="far fa-long-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
        <!-- footer  -->
        <footer class="web-footer footer bg-color-blackflame all-text-content-white">
            <div class="footer-widgets pt-85px pb-55px">

            </div>
        </footer>
    </div>
</div>

{% include 'modals/login.modal.twig' %}

<script src="/assets/js/main.js"></script>
{% endblock %}