<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cards</title>
    <link rel="stylesheet" href="/assets/css/swiper.min.css">
    <link media="all" rel="stylesheet" href="/assets/css/card.css">
</head>
<body>
<div class="swiper-container hswiper swiper-container-horizontal">
    <div class="swiper-wrapper">
    {% for block in entry.slides.all() %}
            <div class="swiper-slide h-slide" style="background-color: {{ block.backgroundColor }}">
                <div class="h-slide-holder">
                    <div class="swiper-container vswiper swiper-container-vertical swiper-container-free-mode">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide v-slide">
                                <div class="card-title">
                                    <h2>{{ block.cardTitle }}</h2>
                                    <p>{{ block.cardTitleDescription }}</p>
                                </div>
                                <div class="card-text">
                                    <div class="top-text">{{ block.cardBodyTopText }}</div>
                                    <p>{{ block.cardBody | raw }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Add Scroll Bar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>

<!-- Swiper JS -->
<script src="/assets/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var hswiper = new Swiper('.swiper-container.hswiper', {
        slidesPerView: 1,
        loop: true,
        keyboard: {
            enabled: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        simulateTouch: false,
    });

    var vswiper = new Swiper('.swiper-container.vswiper', {
        direction: 'vertical',
        slidesPerView: 'auto',
        freeMode: true,
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        mousewheel: true,
        simulateTouch: false,
    });
</script>
</body>
</html>

